@media SCREEN AND (max-width:768px){
    #main_container{
        flex-direction: column-reverse !important;
    }
}
#groups{
    width:100%;
}
#groups>tbody>tr{
    border-bottom: 1px solid #ccc;
}
#groups>tbody>tr:last-child{
    border-bottom: none;
}
#groups>tbody>tr>td:first-child{
    width:80%;
}
#groups>tbody>tr>td:last-child{
    width:20%;
}
