@page
@model ygBlog.Pages.commentmgrModel
@{
    ViewData["title"] = "评论管理";
}
<h2>评论管理</h2>
<select id="typeSelection" onchange="TypeFilterAction()">
    <option value="-1">已隐藏</option>
    <option value="0" selected>未审核</option>
    <option value="1">已通过</option>
    <option value="-100">全部</option>
</select>
<div id="pagena"></div>
<div class="row">
    <div class="col-sm">
        <table id="comments" class="table">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>名称</th>
                    <th>正文</th>
                    <th>鉴别</th>
                    <th>日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>